@import 'bootstrap/bootstrap.less';

.celda{
    float:left;
    position:relative;
    height:100%;
}
.verde {
    border:1px solid #14453D;
    background-color:#29554e;
}
.blanco {
    border:1px solid #fff;
    background-color:none;
}
.fila:after, .fila:before {
    display:table;
    content:" ";
}
#map {
    width: 800px;
    height: 800px;
}
.bug, .stop {
    color:red;
    font-size:40px;
}
.inline > div {
    display:inline-block;
    font-size:50px;
    margin:1em;
}

.selected {
    color: red;
}